<h1>Welcome to the Admin Page!</h1>
<p>
  I hope you are really an admin! :)
</p>
<ul>
  <a href="/admin/animals/new"><li>Add an Animal</li></a>
  <a href="/admin/friends/new"><li>Add a Friend</li></a>
  <a href="/admin/animals/by_entry_date"><li>View Animals by Entry Date</li></a>
  <a href="/admin/friends/by_fav_breed"><li>View Friends by Favorite Breed</li></a>
</ul>
